* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}


body{
    margin: 0;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

.bng-navbar {
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre o logo e o botão*/
    padding: 10px 20px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #0077a8; /*linha inferior*/
    z-index:1000;
    transition: top 0.3s ease;
    backdrop-filter: blur(10px);
}



/* Ajuste do conteúdo para não ficar sob a navbar */
.content {
 margin-left: 250px; /* Afasta o conteúdo da sidebar (largura da sidebar) */
 margin-top: 70px; /* Espaço para não ficar por baixo da navbar */
 display: flex;
 flex-grow: 1; /* Permite que o conteúdo cresça conforme o espaço disponível */
 padding: 20px; /* Espaçamento interno para melhor leitura */
} 


.bng-navbar div {
    display: flex;
    align-items:center;
}

.bng-navbar img{
    height: 50px; /* Ajusta a altura do logo*/
    margin-right: 10px; /*Adiciona espaço entre o logo e o texto*/
}

.bng-navbar h3{
    font-size: 1.5em; /*Define o tamanho do texto */
    color: #dddddd; /*Cor do texto cinza claro */
}

/*Estilos para os links centrais da navegação*/
.container-navegacao {
    text-align: center;
    padding: 20px; /*espaçamento interno*/
}

.container-navegacao a {
    font-size: 1.5em; /* AUmenta tamanho dos links*/
    margin: 0px 50px; /*Adiciona espaço horizontal entre os links*/
    text-decoration: none; /*Remove sublinhado*/
    color: #0077a8;
}

.container-navegacao a:hover {
    font-weight: bold;
    color: #0077a8; /*Muda a cor a passar o rato*/
}

/*Estilos para o botão Área CLiente*/

.nav-cliente a{
    color:#0077a8;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 30px; /*Bordas arredondadas*/
    transition: background-color 0.3s;
    border: 2px solid #0077a8; 
}

/*Efeito a passar o rato*/

.nav-cliente a:hover {
    background-color: #0077a8;
    color: white;
}

/*Estilos para o rodapé*/

.footer-section {
    flex:1; /*Secções com tamanhos iguais*/
    min-width:250px; /*tamanho minimo de cada seccao*/
    padding: 10px;
    text-align: center;
}

/* Estilos para o Rodapé */
.footer-container {
    display: flex; /* Ativa o layout flexível */
    background-color: #0077a8; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    padding: 40px 20px; /* Espaçamento interno do rodapé */
    flex-wrap: wrap; /* Permite que os itens se ajustem em ecrãs pequenos */
    justify-content:space-between; /* Fix1a o rodapé no fundo da página */
    bottom: 0; /* Alinha o rodapé à parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
} 

.footer-section {
    flex: 1; /* Faz com que as secções tenham larguras iguais */
    min-width: 250px; /* Define uma largura mínima para cada secção */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo de cada bloco */
} 

.footer-section strong {
    font-size: 1.2rem; /* Tamanho da fonte para os títulos */
    display: block; /* Ocupa toda a largura disponível */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    color: #f8f9fa; /* Cor clara para destaque */
} 

.footer-section p {
    font-size: 1rem; /* Tamanho padrão do texto */
    color: #d6d6d6; /* Cor do texto em cinza claro */
}

/* Texto Genérico */
.container-texto-generico {
    display: flex; /* Ativa o layout flexível */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    flex-wrap: wrap; /* Permite quebra de linha em ecrãs menores */
    gap: 20px; /* Espaço entre os elementos */
    padding: 100px 40px; /* Espaçamento interno (superior/inferior e laterais) */
    text-align: center; /* Centraliza o texto dentro dos artigos */
    min-height: 100vh; /* Garante altura mínima de uma janela (ecrã) */
} 

/* Seção "Quem Somos" */
#quem-somos {
    text-align: center; /* Centra todo o conteúdo horizontalmente */
    padding: 100px 0; /* Espaçamento superior e inferior de 100px */
    scroll-margin-top: 100px;
}

.quem-somos-content {
    max-width: 800px; /* Largura máxima de 800px para limitar o conteúdo */ 
    margin: 0 auto; /* Centra horizontalmente o conteúdo */
}

.quem-somos-content h1 {
    font-size: 3em; /* Tamanho grande para o título principal */ 
    margin-bottom: 25px; /* Espaçamento abaixo do título */
}

.quem-somos-content p {
    font-size: 1.2em; /* Aumenta o tamanho da letra do parágrafo */ 
    margin-bottom: 10px; /* Espaço abaixo do parágrafo */
}

.quem-somos-content img {
    width: 700px; /* Define uma largura fixa da imagem */
    height: 165px; /* Define uma altura fixa da imagem */
    display: block; /* Faz com que a imagem se comporte como bloco (para usar margin auto) */
    margin: 20px auto; /* Centraliza a imagem com margens acima e abaixo */ 
    object-fit: cover; /* Corta a imagem de forma proporcional sem distorcer */
}


.button {
    display: inline-block; /* Permite definir largura/altura e manter como botão em linha */
    background-color: #aaaaaa; /* Cor de fundo cinza-claro */
    color: #fff; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno (vertical x horizontal) */ 
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas no botão */
}


.pessoa {
 padding: 20px 30px; /* Espaço interno dentro do bloco */
 text-align: center; /* Centraliza o conteúdo (imagem, nome, cargo) */
}

.pessoa h2 {
    font-size: 1.8rem;
    color: #0077a8;
    margin-bottom: 25px;
}

.pessoa h3{
    font-size:1.6rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pessoa p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #6d6d6d;
}
/* Estilo para a imagem de cada pessoa */
.pessoa img {
 width: 100px; /* Largura fixa da imagem */
 height: 100px; /* Altura fixa da imagem */
 border-radius: 50%; /* Transforma a imagem num círculo */
 margin-bottom: 10px; /* Espaço entre a imagem e o nome */
}

section {
 padding: 100px 40px; /* Espaçamento interno nas secções (superior/inferior e laterais) */ 
 text-align: center; /* Centraliza todo o conteúdo textual por padrão */
 
} 

section.inicio {
    padding: 60px 20px;
    min-height: auto;
    text-align: center;
}

#inicio img{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
}

#servicos {
 max-width: 1200px;
 margin: 50px auto;
 padding: 50px;
 scroll-margin-top: 140px;
}

.servicos {
 padding: 20px 30px; /* Espaçamento interno dentro de cada cartão */
 text-align: center; /* Centraliza o conteúdo dentro de cada serviço */
}

.servicos h2{
    font-size: 1.8rem;
    color: #0077a8;
    margin-bottom: 20px;
}

.servicos p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #6d6d6d;
    text-align: justify;
}
.servicos img {
 width: 100px; /* Largura da imagem */
 height: 100px; /* Altura da imagem */
 border-radius: 50%; /* Torna a imagem circular */
 margin-bottom: 10px; /* Espaço entre a imagem e o texto seguinte */
}

#contacto form {
    display: flex; /* Usa layout flexível */
    flex-direction: column; /* Organiza os elementos na vertical */
    max-width: 500px; /* Limita a largura do formulário */ 
    margin: 0 auto; /* Centraliza horizontalmente */
    
}

#contacto {
    scroll-margin-top: 140px;
}

#contacto label {
 margin-top: 10px; /* Espaço acima de cada rótulo (label) */
}

#contacto input, #contacto textarea {
    padding: 10px; /* Espaço interno (dentro do campo) */ 
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    border: 1px solid #ddd; /* Borda cinzenta clara */
    border-radius: 5px; /* Bordas arredondadas */
    scroll-margin-top: 140px;
}

#contacto button {
background-color: #0077a8;  
color: #fff; /* Cor do texto do botão (branco) */ 
padding: 10px 20px; /* Espaçamento interno do botão */
border: none; /* Remove a borda padrão */
border-radius: 5px; /* Bordas arredondadas */
cursor: pointer; /* Cursor tipo "mão" ao passar por cima */
}

.servicos i, #quem-somos i{
    font-size: 80px;
    color: #0066ff2a;
    margin-bottom: 10px;
}

#inicio {
    padding: 0;
    display: block;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border: none;
    line-height: normal;
    scroll-margin-top: 200px;
}

.inicio{
    text-align: center;
    padding: 60px 20px;
}

@media (max-width: 992px) {
    .border-start{
        border-left: none !important;

    }

    .bng-navbar{
        padding: 10px 15px;
        flex-direction: column;
        gap: 10px;
    }
    .bng-navbar-gc{
        padding: 10px 15px;
        flex-direction: column;
        gap: 10px;
    }
    
}

.carousel-control-prev, 
.carousel-control-next, 
.carousel-indicators {
    z-index: 5 !important;
    pointer-events: auto !important; /* Garante que o clique é registado */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.btn-login{
    background-color: #0077a8;
    color: white;
    border: none;
}

.btn-login:hover {
    transform: translateY(-2px);
    background-color: #0077a8;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.btn-login:active {
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.20);
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
}

.card-hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.grafico{
    width: 240px;
    height: 240px;
    text-align: center;
    margin: 0 auto;
    
}

.chart-wrapper{
    height: 280px;
}

.card-menu{
    height: 200px;
    width: 300px;
}

.container-fluid{
    height: 70px;
}

.dashboard-page{
    padding-top: 70px;
}

.sidebar {
    position: fixed;
    top: 70px; /* distância da barra superior */
    left: 0;
    width: 250px;
    background-color: #0077a8;
    height: 100vh;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
}

.menu-title, offcanvas-title {
    font-size: 1.4rem;
    margin-bottom: 20px;
    margin-left: 90px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-link, offcanvas-body {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.menu-link i {
    width: 22px;
    text-align: center;
}

.input{
    font-size: 2.2rem; 
    font-weight: 700; 
    border: none; 
    width: 100%; 
    background: transparent; 
    outline: none;
}

.input-editavel {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    color: inherit;
    outline: none;
    resize: none;
    text-align:center;
}

.file-editavel {
    opacity: 0.0001; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.textarea-editavel {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    text-align: center;
    color: inherit;
    line-height: 1.8;
}

.btn-alterar-imagem {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 10;
}

.btn-alterar-imagem:hover {
    background: rgba(0,0,0,0.7);
}

/* Input file invisível */
.file-editavel {
    display: none;
}

body.dashboard-page {
    padding-top: 60px;
    background-color: #f5f7fa;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 270px;
    background-color: #0077a8;
    height: 100vh;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;

}

.menu-title {
    font-size: 1.4rem;
    margin-bottom: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    gap: 20px;                /* espaço entre ícone e texto */
    margin: 40px 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-link {
    display: flex;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    white-space: nowrap; /* Evita quebra de linha nos links */
}

.menu-link:hover {
    background-color: rgba(255,255,255,0.15);
    border-radius: 6px;
}


main {
    margin-left: 250px; /* espaço da sidebar */
    padding: 40px;
}



.input-titulo {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.input-h2 {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0077a8;
    text-align: center;
    margin-bottom: 25px;
}

/* Subtítulos (h3) */
.input-h3 {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.textarea-paragrafo {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #6d6d6d;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.btn-alterar-imagem {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 10;
}

.btn-alterar-imagem:hover {
    background: rgba(0,0,0,0.7);
}

.file-editavel {
    display: none;
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }

    main {
        margin-left: 0;
        padding: 20px;
    }
}

.input-h1{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 2.2rem;          
    font-weight: 700;         
    text-align: center;                  
}

.input-pass{
    color:#0077a8;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 30px; /*Bordas arredondadas*/
    border: 2px solid #0077a8;
    background-color: #f5f7fa;
    text-align: center;
}

.bng-navbar-gc {
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre o logo e o botão*/
    padding: 60px 10px;
    position: fixed;
    top: 60px;
    border-bottom: 2px solid #0077a8; /*linha inferior*/
    z-index:1000;
    backdrop-filter: blur(10px);
}


.bng-navbar-gc div {
    display: flex;
    align-items:center;
}

.bng-navbar-gc img{
    height: 50px; /* Ajusta a altura do logo*/
    margin-right: 10px; /*Adiciona espaço entre o logo e o texto*/
}

.bng-navbar-gc h3{
    font-size: 1.0em; /*Define o tamanho do texto */
    color: #dddddd; /*Cor do texto cinza claro */
}

.container-navegacao-gc {
    text-align: center;
    padding: 10px; /*espaçamento interno*/
}

.container-navegacao-gc a {
    font-size: 1.0em; /* AUmenta tamanho dos links*/
    margin: 0px 20px; /*Adiciona espaço horizontal entre os links*/
    text-decoration: none; /*Remove sublinhado*/
    color: #0077a8;
}

.container-navegacao-gc a:hover {
    font-weight: bold;
    color: #0077a8; /*Muda a cor a passar o rato*/
}

.button {
    display: inline-block; /* Permite definir largura/altura e manter como botão em linha */
    background-color: #aaaaaa; /* Cor de fundo cinza-claro */
    color: #fff; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno (vertical x horizontal) */ 
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas no botão */
}

.nav-cliente-gc a{
    color:#0077a8;
    text-decoration: none;
    font-size: 1.0em;
    padding: 0px;
    border-radius: 30px; /*Bordas arredondadas*/
    transition: background-color 0.3s;
    border: 2px solid #0077a8; 
}

/*Efeito a passar o rato*/

.nav-cliente-gc a:hover {
    background-color: #0077a8;
    color: white;
}


#contacto form {
    display: flex; /* Usa layout flexível */
    flex-direction: column; /* Organiza os elementos na vertical */
    max-width: 500px; /* Limita a largura do formulário */ 
    margin: 0 auto; /* Centraliza horizontalmente */
    
}

#contacto-gc {
    scroll-margin-top: 140px;
}

#contacto label {
 margin-top: 10px; /* Espaço acima de cada rótulo (label) */
}

#contacto-gc input, #contacto-gc textarea {
    padding: 10px; /* Espaço interno (dentro do campo) */ 
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    text-align: center;
    border-radius: 5px; /* Bordas arredondadas */
    scroll-margin-top: 140px;
    font-size: 1.2rem;
}

.text-area-paragrafo {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #6d6d6d;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.caixa {
    width: 70vw;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px; /* Espaço interno (dentro do campo) */ 
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    border: 1px solid #ddd; /* Borda cinzenta clara */
    border-radius: 5px; /* Bordas arredondadas */
    scroll-margin-top: 140px;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #0077a8 !important;
}

.table thead th {
    color: #fff !important;
    background-color: #0077a8 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f8fc;
}

/* Hover elegante */
.table tbody tr:hover {
    background-color: #e3f3fa;
}

/* Botões */

.btn-outline-primary {
    border-color: #0077a8 !important;
    color: #0077a8 !important;
}

.btn-outline-primary:hover {
    background-color: #0077a8 !important;
    color: #fff !important;
}

/* Espaçamento do conteúdo (não mexe no layout!) */
main {
    padding-top: 20px;
}




